@import url('https://fonts.googleapis.com/css?family=Roboto:100,300,400,500');

* {
  margin: 0;
  padding: 0;
}

input{
  color: none; 
  background: transparent;
  border: none; 
  outline: none;
}

body {
  background: #282f3e;
  color: #e9f0f4;
  /* font-family: "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif; */
  font-family: 'Roboto', sans-serif;
}

/* Header Menu */
.menu_container {
  display: flex;
  justify-content: space-between;
  
  margin: 10px 30px;
  
}

.desktop_header {
  font-size: 35px;
}

.menu {
  display: flex;
  list-style: none;
}

.menu_item {
  margin-left: 10px;
}

.burger {
  font-size: 35px;
}

.burger:hover {
  cursor: pointer;
}

/* Log in section */
.log_in_section {
  width: 50%;
  margin: 100px auto;
  text-align: center;
  
}

.login_form {
  display: flex;
  flex-direction: column;
}

.mobile_header {
 margin-bottom: 80px;
 font-size: 40px;
 font-weight: 150;
}

.login_form input {
  background: none;
  border: none;
  border-bottom: 2px solid #e9f0f4;
  margin-bottom: 50px;
  font-size: 18px;
  font-weight: 200;
  padding: 10px;
  text-align: center;
  color: #e9f0f4; 
}

.login_button, .second_login_button {
  background: none;
  color: #e9f0f4;
  padding: 20px;
  font-size: 20px;
  font-weight: 200;
  border: 2px solid #e9f0f4;
  margin-top: 50px;
}

.second_login_button {
  display: none;
}

.login_button:hover, .second_login_button:hover {
  cursor: pointer;
}


/* Weekly Budget Section */
.enterweeklybudget {
  display: flex; 
  flex-direction: column;
  width: 60%;
  margin: 0 auto;
}

.weekly_budget_title {
  
  font-size: 25px;
  font-weight: 100;
  margin: 20px 0px;
}

.weekly_budget_title_sub {
  font-size: 22px;
  font-weight: 100px;
  margin-bottom: 15px;
  font-weight: 100;
}

.enterweeklybudget input {
  background: none;
  border: none;
  border-bottom: 2px solid #e9f0f4;
  margin-bottom: 25px;
  font-size: 18px;
  font-weight: 200;
  padding: 10px;
  text-align: center;
  color: #e9f0f4;
}

.enterweeklybudget label {
  margin-top: -15px;
  font-weight: 100;
}

.save, .second_save {
  background: none;
  color: #e9f0f4;
  padding: 20px;
  font-size: 18px;
  font-weight: 100;
  border: 2px solid #e9f0f4;
  margin-top: 40px;
  cursor: pointer;
}

.second_save{
  display: none;
  padding-bottom: 20px;
}

.save:hover, .second_save:hover {
  cursor: pointer;
}

.total {
  background: rgba(233, 240, 244, .15);
  padding: 8%;
}

.title {
  margin-top: 22px;
  padding-bottom: 3px;
  padding-left: 10px;
  font-weight: 100;
}

.total_money, .remaining {
  text-align: center;
}

.total_money {
  font-size: 40px;
  font-weight: 100;
}
.remaining {
  font-weight: 100;
}

/* Log Purcheses Section */
.purchases {
  margin: 0 auto;
  width: 60%;
  padding-top: 0;
}

/* .greeting {
  display: flex;
  flex-direction: column;
  margin: 50px 0;
} */

.purchases_form {
  display: flex;
  flex-direction: column;
  margin: 50px 0;
}

.pur_title {
  font-size: 25px;
  font-weight: 100;
  margin: 20px 0px;
}

.pur_title_sub {
  font-weight: 100;
  font-size: 22px;
}

.purchases input {
  background: none;
  border: none;
  border-bottom: 2px solid #e9f0f4;
  margin-bottom: 25px;
  font-size: 18px;
  font-weight: 200;
  padding: 10px;
  text-align: center;
  display: flex;
  flex-direction: column;
  color: #e9f0f4;
  outline: none;
}

.purchases button {
  background: none;
  color: #e9f0f4;
  padding: 20px;
  font-size: 18px;
  font-weight: 100;
  border: 2px solid #e9f0f4;
  margin-top: 40px;
  cursor: pointer;
}

/* Mobile Menu */
.mobile_menu {
  background: rgba(233, 240, 244, .9);
  padding: 10px 0;
}

.menu_items {
  color: #282f3e;
  margin: 10px 0px;
  padding: 20px 0px;
  text-align: center;
  font-size: 20px;
  font-weight: 100px;
  cursor: pointer;
}
.hidden {
  display: none;
  padding-top:0;
}

.alert{
  color: rgb(235, 68, 68);
  text-align: center;
}


@media only screen and (min-width: 769px) {
  .burger, .mobile_menu {
   display: none;
  }

  .second_login_button {
    display: block;
  }

  .login_button {
    display: none;
  }

  .menu_container {
    background:  #191E27;
    margin: 0px;
  }
  
  .containerdesktop {
    display: flex;
  }

  /* .hide {
    display: block;
  }
 */
  .enterweeklybudget {
    justify-content: center;
    width: 15%; 
    display: flex;
    padding-top: 0;
    height: 525px;
  }

  .weekly__total--container {
    display:flex;
    width: 60%;
    justify-content: center;
    border-left:2px solid #191E27;
    border-right:2px solid #191E27;
    display: block;
  }

  div.weekly__total {
    width: 100%;
  }

  .purchases {
    display: flex;
    justify-content: center;
    margin: 0 auto;
    width: 15%; 
    display: block;
    padding-top: 5px;
  }
  .save{
    display: none;
  }
  .second_save{
    display: block;
  }

  .desktop-hidden{
    display: none; 
  }
}